In [2]:
import tensorflow as tf

In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.linear_model import LinearRegression

df=pd.read_csv("../../data/banknifity and more index 2017 - 2024 - year.csv")

In [4]:
df.head()

,Date,Price,Open,High,Low,Vol.,Change %,IC_Date,IC_Price,IC_Open,...,Next_pn_Low,Next_pn_Vol.,Next_pn_Change %,Next_bank_Date,Next_bank_Open,Next_bank_High,Next_bank_Low,Next_bank_Close,Next_bank_Shares Traded,Next_bank_Turnover (? Cr)
0,10-05-2024,"1,622.40","1,638.45","1,652.75","1,616.15",11.76M,-1.18%,10-05-2024,"1,118.30","1,117.85",...,120.70,82.73M,-2.36%,09-May-24,47976.35,48258.65,47440.65,47487.90,272914366,13331.32
1,09-05-2024,"1,641.70","1,648.15","1,661.80","1,637.10",4.66M,-0.40%,09-05-2024,"1,115.70","1,120.55",...,122.15,70.86M,2.29%,08-May-24,48124.20,48223.05,47851.15,48021.10,286041100,13795.53
2,08-05-2024,"1,648.35","1,640.00","1,657.45","1,636.10",9.85M,0.26%,08-05-2024,"1,126.50","1,128.45",...,120.75,86.24M,-3.78%,07-May-24,48965.05,49023.50,48213.75,48285.35,230306618,10179.38
3,07-05-2024,"1,644.00","1,626.30","1,647.30","1,618.15",9.87M,1.20%,07-05-2024,"1,130.80","1,148.25",...,126.40,144.40M,-6.41%,06-May-24,49174.55,49252.65,48784.00,48895.30,340187386,15200.24
4,06-05-2024,"1,624.50","1,601.65","1,633.00","1,595.95",21.60M,5.03%,06-05-2024,"1,149.00","1,141.75",...,134.25,61.35M,-1.63%,03-May-24,49375.05,49607.75,48659.70,48923.55,222964426,12837.75

In [17]:
df.isna().sum()

Date                         0
Price                        0
Open                         0
High                         0
Low                          0
                            ..
Next_bank_High               0
Next_bank_Low                0
Next_bank_Close              0
Next_bank_Shares Traded      0
Next_bank_Turnover (? Cr)    0
Length: 182, dtype: int64

In [19]:
len(df.columns)

182

In [20]:
len(df.dropna(axis=0).columns)

182

In [21]:
df = df.dropna(axis=0)

In [23]:
print(list(df.isna().sum()))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511 entries, 0 to 1510
Columns: 182 entries, Date to Next_bank_Turnover (? Cr)
dtypes: float64(66), int64(2), object(114)
memory usage: 2.1+ MB

In [25]:
len(df.columns)

182

In [35]:
print(dict(df.dtypes))

{'Date': dtype('O'), 'Price': dtype('O'), 'Open': dtype('O'), 'High': dtype('O'), 'Low': dtype('O'), 'Vol.': dtype('O'), 'Change %': dtype('O'), 'IC_Date': dtype('O'), 'IC_Price': dtype('O'), 'IC_Open': dtype('O'), 'IC_High': dtype('O'), 'IC_Low': dtype('O'), 'IC_Vol.': dtype('O'), 'IC_Change %': dtype('O'), 'Sb_Date': dtype('O'), 'Sb_Price': dtype('float64'), 'Sb_Open': dtype('float64'), 'Sb_High': dtype('float64'), 'Sb_Low': dtype('float64'), 'Sb_Vol.': dtype('O'), 'Sb_Change %': dtype('O'), 'axi_Date': dtype('O'), 'axi_Price': dtype('O'), 'axi_Open': dtype('O'), 'axi_High': dtype('O'), 'axi_Low': dtype('O'), 'axi_Vol.': dtype('O'), 'axi_Change %': dtype('O'), 'hdf_Date': dtype('O'), 'hdf_Price': dtype('O'), 'hdf_Open': dtype('O'), 'hdf_High': dtype('O'), 'hdf_Low': dtype('O'), 'hdf_Vol.': dtype('O'), 'hdf_Change %': dtype('O'), 'indu_Date': dtype('O'), 'indu_Price': dtype('O'), 'indu_Open': dtype('O'), 'indu_High': dtype('O'), 'indu_Low': dtype('O'), 'indu_Vol.': dtype('O'), 'indu_Change %': dtype('O'), 'auf_Date': dtype('O'), 'auf_Price': dtype('float64'), 'auf_Open': dtype('float64'), 'auf_High': dtype('float64'), 'auf_Low': dtype('float64'), 'auf_Vol.': dtype('O'), 'auf_Change %': dtype('O'), 'ban_Date': dtype('O'), 'ban_Price': dtype('float64'), 'ban_Open': dtype('float64'), 'ban_High': dtype('float64'), 'ban_Low': dtype('float64'), 'ban_Vol.': dtype('O'), 'ban_Change %': dtype('O'), 'bob_Date': dtype('O'), 'bob_Price': dtype('float64'), 'bob_Open': dtype('float64'), 'bob_High': dtype('float64'), 'bob_Low': dtype('float64'), 'bob_Vol.': dtype('O'), 'bob_Change %': dtype('O'), 'feb_Date': dtype('O'), 'feb_Price': dtype('float64'), 'feb_Open': dtype('float64'), 'feb_High': dtype('float64'), 'feb_Low': dtype('float64'), 'feb_Vol.': dtype('O'), 'feb_Change %': dtype('O'), 'hdf_Date.1': dtype('O'), 'hdf_Price.1': dtype('float64'), 'hdf_Open.1': dtype('float64'), 'hdf_High.1': dtype('float64'), 'hdf_Low.1': dtype('float64'), 'hdf_Vol..1': dtype('O'), 'hdf_Change %.1': dtype('O'), 'pn_Date': dtype('O'), 'pn_Price': dtype('float64'), 'pn_Open': dtype('float64'), 'pn_High': dtype('float64'), 'pn_Low': dtype('float64'), 'pn_Vol.': dtype('O'), 'pn_Change %': dtype('O'), 'bank_Date': dtype('O'), 'bank_Open': dtype('float64'), 'bank_High': dtype('float64'), 'bank_Low': dtype('float64'), 'bank_Close': dtype('float64'), 'bank_Shares Traded ': dtype('int64'), 'bank_Turnover (? Cr)': dtype('float64'), 'Next_Date': dtype('O'), 'Next_Price': dtype('O'), 'Next_Open': dtype('O'), 'Next_High': dtype('O'), 'Next_Low': dtype('O'), 'Next_Vol.': dtype('O'), 'Next_Change %': dtype('O'), 'Next_IC_Date': dtype('O'), 'Next_IC_Price': dtype('O'), 'Next_IC_Open': dtype('O'), 'Next_IC_High': dtype('O'), 'Next_IC_Low': dtype('O'), 'Next_IC_Vol.': dtype('O'), 'Next_IC_Change %': dtype('O'), 'Next_Sb_Date': dtype('O'), 'Next_Sb_Price': dtype('float64'), 'Next_Sb_Open': dtype('float64'), 'Next_Sb_High': dtype('float64'), 'Next_Sb_Low': dtype('float64'), 'Next_Sb_Vol.': dtype('O'), 'Next_Sb_Change %': dtype('O'), 'Next_axi_Date': dtype('O'), 'Next_axi_Price': dtype('O'), 'Next_axi_Open': dtype('O'), 'Next_axi_High': dtype('O'), 'Next_axi_Low': dtype('O'), 'Next_axi_Vol.': dtype('O'), 'Next_axi_Change %': dtype('O'), 'Next_hdf_Date': dtype('O'), 'Next_hdf_Price': dtype('O'), 'Next_hdf_Open': dtype('O'), 'Next_hdf_High': dtype('O'), 'Next_hdf_Low': dtype('O'), 'Next_hdf_Vol.': dtype('O'), 'Next_hdf_Change %': dtype('O'), 'Next_indu_Date': dtype('O'), 'Next_indu_Price': dtype('O'), 'Next_indu_Open': dtype('O'), 'Next_indu_High': dtype('O'), 'Next_indu_Low': dtype('O'), 'Next_indu_Vol.': dtype('O'), 'Next_indu_Change %': dtype('O'), 'Next_auf_Date': dtype('O'), 'Next_auf_Price': dtype('float64'), 'Next_auf_Open': dtype('float64'), 'Next_auf_High': dtype('float64'), 'Next_auf_Low': dtype('float64'), 'Next_auf_Vol.': dtype('O'), 'Next_auf_Change %': dtype('O'), 'Next_ban_Date': dtype('O'), 'Next_ban_Price': dtype('float64'), 'Next_ban_Open': dtype('float64'), 'Next_ban_High': dtype('float64'), 'Next_ban_Low': dtype('float64'), 'Next_ban_Vol.': dtype('O'), 'Next_ban_Change %': dtype('O'), 'Next_bob_Date': dtype('O'), 'Next_bob_Price': dtype('float64'), 'Next_bob_Open': dtype('float64'), 'Next_bob_High': dtype('float64'), 'Next_bob_Low': dtype('float64'), 'Next_bob_Vol.': dtype('O'), 'Next_bob_Change %': dtype('O'), 'Next_feb_Date': dtype('O'), 'Next_feb_Price': dtype('float64'), 'Next_feb_Open': dtype('float64'), 'Next_feb_High': dtype('float64'), 'Next_feb_Low': dtype('float64'), 'Next_feb_Vol.': dtype('O'), 'Next_feb_Change %': dtype('O'), 'Next_hdf_Date.1': dtype('O'), 'Next_hdf_Price.1': dtype('float64'), 'Next_hdf_Open.1': dtype('float64'), 'Next_hdf_High.1': dtype('float64'), 'Next_hdf_Low.1': dtype('float64'), 'Next_hdf_Vol..1': dtype('O'), 'Next_hdf_Change %.1': dtype('O'), 'Next_pn_Date': dtype('O'), 'Next_pn_Price': dtype('float64'), 'Next_pn_Open': dtype('float64'), 'Next_pn_High': dtype('float64'), 'Next_pn_Low': dtype('float64'), 'Next_pn_Vol.': dtype('O'), 'Next_pn_Change %': dtype('O'), 'Next_bank_Date': dtype('O'), 'Next_bank_Open': dtype('float64'), 'Next_bank_High': dtype('float64'), 'Next_bank_Low': dtype('float64'), 'Next_bank_Close': dtype('float64'), 'Next_bank_Shares Traded ': dtype('int64'), 'Next_bank_Turnover (? Cr)': dtype('float64')}

In [39]:
df["Date"]=pd.to_datetime(df["Date"],format="%d-%m-%Y")

In [40]:
print(dict(df.dtypes))

{'Date': dtype('<M8[ns]'), 'Price': dtype('O'), 'Open': dtype('O'), 'High': dtype('O'), 'Low': dtype('O'), 'Vol.': dtype('O'), 'Change %': dtype('O'), 'IC_Date': dtype('O'), 'IC_Price': dtype('O'), 'IC_Open': dtype('O'), 'IC_High': dtype('O'), 'IC_Low': dtype('O'), 'IC_Vol.': dtype('O'), 'IC_Change %': dtype('O'), 'Sb_Date': dtype('O'), 'Sb_Price': dtype('float64'), 'Sb_Open': dtype('float64'), 'Sb_High': dtype('float64'), 'Sb_Low': dtype('float64'), 'Sb_Vol.': dtype('O'), 'Sb_Change %': dtype('O'), 'axi_Date': dtype('O'), 'axi_Price': dtype('O'), 'axi_Open': dtype('O'), 'axi_High': dtype('O'), 'axi_Low': dtype('O'), 'axi_Vol.': dtype('O'), 'axi_Change %': dtype('O'), 'hdf_Date': dtype('O'), 'hdf_Price': dtype('O'), 'hdf_Open': dtype('O'), 'hdf_High': dtype('O'), 'hdf_Low': dtype('O'), 'hdf_Vol.': dtype('O'), 'hdf_Change %': dtype('O'), 'indu_Date': dtype('O'), 'indu_Price': dtype('O'), 'indu_Open': dtype('O'), 'indu_High': dtype('O'), 'indu_Low': dtype('O'), 'indu_Vol.': dtype('O'), 'indu_Change %': dtype('O'), 'auf_Date': dtype('O'), 'auf_Price': dtype('float64'), 'auf_Open': dtype('float64'), 'auf_High': dtype('float64'), 'auf_Low': dtype('float64'), 'auf_Vol.': dtype('O'), 'auf_Change %': dtype('O'), 'ban_Date': dtype('O'), 'ban_Price': dtype('float64'), 'ban_Open': dtype('float64'), 'ban_High': dtype('float64'), 'ban_Low': dtype('float64'), 'ban_Vol.': dtype('O'), 'ban_Change %': dtype('O'), 'bob_Date': dtype('O'), 'bob_Price': dtype('float64'), 'bob_Open': dtype('float64'), 'bob_High': dtype('float64'), 'bob_Low': dtype('float64'), 'bob_Vol.': dtype('O'), 'bob_Change %': dtype('O'), 'feb_Date': dtype('O'), 'feb_Price': dtype('float64'), 'feb_Open': dtype('float64'), 'feb_High': dtype('float64'), 'feb_Low': dtype('float64'), 'feb_Vol.': dtype('O'), 'feb_Change %': dtype('O'), 'hdf_Date.1': dtype('O'), 'hdf_Price.1': dtype('float64'), 'hdf_Open.1': dtype('float64'), 'hdf_High.1': dtype('float64'), 'hdf_Low.1': dtype('float64'), 'hdf_Vol..1': dtype('O'), 'hdf_Change %.1': dtype('O'), 'pn_Date': dtype('O'), 'pn_Price': dtype('float64'), 'pn_Open': dtype('float64'), 'pn_High': dtype('float64'), 'pn_Low': dtype('float64'), 'pn_Vol.': dtype('O'), 'pn_Change %': dtype('O'), 'bank_Date': dtype('O'), 'bank_Open': dtype('float64'), 'bank_High': dtype('float64'), 'bank_Low': dtype('float64'), 'bank_Close': dtype('float64'), 'bank_Shares Traded ': dtype('int64'), 'bank_Turnover (? Cr)': dtype('float64'), 'Next_Date': dtype('O'), 'Next_Price': dtype('O'), 'Next_Open': dtype('O'), 'Next_High': dtype('O'), 'Next_Low': dtype('O'), 'Next_Vol.': dtype('O'), 'Next_Change %': dtype('O'), 'Next_IC_Date': dtype('O'), 'Next_IC_Price': dtype('O'), 'Next_IC_Open': dtype('O'), 'Next_IC_High': dtype('O'), 'Next_IC_Low': dtype('O'), 'Next_IC_Vol.': dtype('O'), 'Next_IC_Change %': dtype('O'), 'Next_Sb_Date': dtype('O'), 'Next_Sb_Price': dtype('float64'), 'Next_Sb_Open': dtype('float64'), 'Next_Sb_High': dtype('float64'), 'Next_Sb_Low': dtype('float64'), 'Next_Sb_Vol.': dtype('O'), 'Next_Sb_Change %': dtype('O'), 'Next_axi_Date': dtype('O'), 'Next_axi_Price': dtype('O'), 'Next_axi_Open': dtype('O'), 'Next_axi_High': dtype('O'), 'Next_axi_Low': dtype('O'), 'Next_axi_Vol.': dtype('O'), 'Next_axi_Change %': dtype('O'), 'Next_hdf_Date': dtype('O'), 'Next_hdf_Price': dtype('O'), 'Next_hdf_Open': dtype('O'), 'Next_hdf_High': dtype('O'), 'Next_hdf_Low': dtype('O'), 'Next_hdf_Vol.': dtype('O'), 'Next_hdf_Change %': dtype('O'), 'Next_indu_Date': dtype('O'), 'Next_indu_Price': dtype('O'), 'Next_indu_Open': dtype('O'), 'Next_indu_High': dtype('O'), 'Next_indu_Low': dtype('O'), 'Next_indu_Vol.': dtype('O'), 'Next_indu_Change %': dtype('O'), 'Next_auf_Date': dtype('O'), 'Next_auf_Price': dtype('float64'), 'Next_auf_Open': dtype('float64'), 'Next_auf_High': dtype('float64'), 'Next_auf_Low': dtype('float64'), 'Next_auf_Vol.': dtype('O'), 'Next_auf_Change %': dtype('O'), 'Next_ban_Date': dtype('O'), 'Next_ban_Price': dtype('float64'), 'Next_ban_Open': dtype('float64'), 'Next_ban_High': dtype('float64'), 'Next_ban_Low': dtype('float64'), 'Next_ban_Vol.': dtype('O'), 'Next_ban_Change %': dtype('O'), 'Next_bob_Date': dtype('O'), 'Next_bob_Price': dtype('float64'), 'Next_bob_Open': dtype('float64'), 'Next_bob_High': dtype('float64'), 'Next_bob_Low': dtype('float64'), 'Next_bob_Vol.': dtype('O'), 'Next_bob_Change %': dtype('O'), 'Next_feb_Date': dtype('O'), 'Next_feb_Price': dtype('float64'), 'Next_feb_Open': dtype('float64'), 'Next_feb_High': dtype('float64'), 'Next_feb_Low': dtype('float64'), 'Next_feb_Vol.': dtype('O'), 'Next_feb_Change %': dtype('O'), 'Next_hdf_Date.1': dtype('O'), 'Next_hdf_Price.1': dtype('float64'), 'Next_hdf_Open.1': dtype('float64'), 'Next_hdf_High.1': dtype('float64'), 'Next_hdf_Low.1': dtype('float64'), 'Next_hdf_Vol..1': dtype('O'), 'Next_hdf_Change %.1': dtype('O'), 'Next_pn_Date': dtype('O'), 'Next_pn_Price': dtype('float64'), 'Next_pn_Open': dtype('float64'), 'Next_pn_High': dtype('float64'), 'Next_pn_Low': dtype('float64'), 'Next_pn_Vol.': dtype('O'), 'Next_pn_Change %': dtype('O'), 'Next_bank_Date': dtype('O'), 'Next_bank_Open': dtype('float64'), 'Next_bank_High': dtype('float64'), 'Next_bank_Low': dtype('float64'), 'Next_bank_Close': dtype('float64'), 'Next_bank_Shares Traded ': dtype('int64'), 'Next_bank_Turnover (? Cr)': dtype('float64')}

In [1]:
# df["Price"].map(lambda x:float(x))

In [6]:
df['Vol.']

0       11.76M
1        4.66M
2        9.85M
3        9.87M
4       21.60M
         ...
1506     1.20M
1507     1.85M
1508     1.29M
1509     1.99M
1510     1.31M
Name: Vol., Length: 1511, dtype: object