In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [8]:
df=pd.read_csv("../../data/NIFTY 50 - Minute data2.csv",index_col="date",parse_dates=True)
df.head()

,open,high,low,close,volume,next_date,next_open,next_high,next_low,next_close,next_volume
date,,,,,,,,,,,
09-01-2015 09:15,8285.45,8295.90,8285.45,8292.10,0,09-01-2015 09:16,8292.60,8293.60,8287.20,8288.15,0
09-01-2015 09:16,8292.60,8293.60,8287.20,8288.15,0,09-01-2015 09:17,8287.40,8293.90,8287.40,8293.90,0
09-01-2015 09:17,8287.40,8293.90,8287.40,8293.90,0,09-01-2015 09:18,8294.25,8300.65,8293.90,8300.65,0
09-01-2015 09:18,8294.25,8300.65,8293.90,8300.65,0,09-01-2015 09:19,8300.60,8301.30,8298.75,8301.20,0
09-01-2015 09:19,8300.60,8301.30,8298.75,8301.20,0,09-01-2015 09:20,8300.50,8303.00,8298.60,8300.00,0

In [29]:
def set_to_periodic(data , duration=10):
    sequencial_x_data=[]
    for i in range(len(data)-duration):
        sequencial_x_data.append(data[i:i+duration].to_numpy().tolist())
    return sequencial_x_data

In [9]:
df.dtypes

open           float64
high           float64
low            float64
close          float64
volume           int64
next_date       object
next_open      float64
next_high      float64
next_low       float64
next_close     float64
next_volume      int64
dtype: object

In [6]:
df.isna().sum()

date           0
open           0
high           0
low            0
close          0
volume         0
next_date      0
next_open      0
next_high      0
next_low       0
next_close     0
next_volume    0
dtype: int64

In [11]:
X=df[["open","high","low","close"]]
X.head()

                     open     high      low    close
date
09-01-2015 09:15  8285.45  8295.90  8285.45  8292.10
09-01-2015 09:16  8292.60  8293.60  8287.20  8288.15
09-01-2015 09:17  8287.40  8293.90  8287.40  8293.90
09-01-2015 09:18  8294.25  8300.65  8293.90  8300.65
09-01-2015 09:19  8300.60  8301.30  8298.75  8301.20

In [16]:
df["is_incres"]= (df["next_close"]-df["next_open"]).map(lambda x:1 if x>0 else 0)
df

,open,high,low,close,volume,next_date,next_open,next_high,next_low,next_close,next_volume,is_incres
date,,,,,,,,,,,,
09-01-2015 09:15,8285.45,8295.90,8285.45,8292.10,0,09-01-2015 09:16,8292.60,8293.60,8287.20,8288.15,0,0
09-01-2015 09:16,8292.60,8293.60,8287.20,8288.15,0,09-01-2015 09:17,8287.40,8293.90,8287.40,8293.90,0,1
09-01-2015 09:17,8287.40,8293.90,8287.40,8293.90,0,09-01-2015 09:18,8294.25,8300.65,8293.90,8300.65,0,1
09-01-2015 09:18,8294.25,8300.65,8293.90,8300.65,0,09-01-2015 09:19,8300.60,8301.30,8298.75,8301.20,0,1
09-01-2015 09:19,8300.60,8301.30,8298.75,8301.20,0,09-01-2015 09:20,8300.50,8303.00,8298.60,8300.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
25-01-2024 15:24,21364.90,21380.35,21363.20,21378.20,0,25-01-2024 15:25,21376.55,21378.90,21372.75,21377.95,0,1
25-01-2024 15:25,21376.55,21378.90,21372.75,21377.95,0,25-01-2024 15:26,21376.55,21386.10,21375.80,21384.20,0,1
25-01-2024 15:26,21376.55,21386.10,21375.80,21384.20,0,25-01-2024 15:27,21384.75,21401.75,21381.30,21394.15,0,1
25-01-2024 15:27,21384.75,21401.75,21381.30,21394.15,0,25-01-2024 15:28,21392.70,21396.25,21384.25,21395.70,0,1
25-01-2024 15:28,21392.70,21396.25,21384.25,21395.70,0,25-01-2024 15:29,21391.75,21391.95,21367.40,21370.75,0,0

In [19]:
y=df["is_incres"]
y

date
09-01-2015 09:15    0
09-01-2015 09:16    1
09-01-2015 09:17    1
09-01-2015 09:18    1
09-01-2015 09:19    0
                   ..
25-01-2024 15:24    1
25-01-2024 15:25    1
25-01-2024 15:26    1
25-01-2024 15:27    1
25-01-2024 15:28    0
Name: is_incres, Length: 836756, dtype: int64

In [25]:
scaler= MinMaxScaler()
scale_X=scaler.fit_transform(X[:-10])

In [24]:
X.shape

(836756, 4)

In [26]:
scale_X.shape

(836746, 4)

In [33]:
periodic_scale_X=set_to_periodic(pd.DataFrame(scale_X))

In [43]:
model1=tf.keras.Sequential([
    tf.keras.layers.LSTM(100, activation='relu', input_shape=(10, 4)),
    tf.keras.layers.Dense(1,activation="softmax")
])
model1.compile(
    loss="mse",
    optimizer="adam",
    metrics=["accuracy"]
)
model1.summary()

c:\Users\baps\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ lstm_1 (LSTM)                   │ (None, 100)            │        42,000 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 1)              │           101 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 42,101 (164.46 KB)

 Trainable params: 42,101 (164.46 KB)

 Non-trainable params: 0 (0.00 B)

In [34]:
df[["is_incres"]]

                  is_incres
date
09-01-2015 09:15          0
09-01-2015 09:16          1
09-01-2015 09:17          1
09-01-2015 09:18          1
09-01-2015 09:19          0
...                     ...
25-01-2024 15:24          1
25-01-2024 15:25          1
25-01-2024 15:26          1
25-01-2024 15:27          1
25-01-2024 15:28          0

[836756 rows x 1 columns]

In [36]:
df[["is_incres"]][10:-10]

                  is_incres
date
09-01-2015 09:25          0
09-01-2015 09:26          1
09-01-2015 09:27          0
09-01-2015 09:28          1
09-01-2015 09:29          0
...                     ...
25-01-2024 15:14          0
25-01-2024 15:15          0
25-01-2024 15:16          1
25-01-2024 15:17          1
25-01-2024 15:18          0

[836736 rows x 1 columns]

In [42]:
len(periodic_scale_X[0])

10

In [47]:
model1.fit(np.asarray(periodic_scale_X),df[["is_incres"]][10:-10].to_numpy(),epochs=2)

Epoch 1/2
26148/26148 ━━━━━━━━━━━━━━━━━━━━ 80s 3ms/step - accuracy: 0.4982 - loss: 0.5018
Epoch 2/2
26148/26148 ━━━━━━━━━━━━━━━━━━━━ 89s 3ms/step - accuracy: 0.4985 - loss: 0.5015